<div class="text-center mt-3">
    <button class="btn btn-sm btn-primary">{{ readings.subTotal }}</button>
    <br><br>
    <button class="btn btn-sm btn-primary">{{ readings.vat }}</button>
    <br><br>
    <button class="btn btn-sm btn-primary">{{ readings.forfeit }}</button>
    <br><br>
    <button class="btn btn-sm btn-primary">{{ readings.totalOfBill }}</button>
</div>