<div class="container">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col-10">
      <h2 class="mt-2 text-danger">Política de Privacidade</h2>
      <hr class="bg-success">

      <p>
          <b>Como utilizar esta política de Privacidade</b> <br>
            Nesta Política, explicamos como recolhemos, utilizamos, compartilhamos
             e protegemos a sua informação pessoal quando utiliza os nossos produtos e 
             serviços e o nosso Aplicativo disponível na Loja da Google 
             <a href="https://play.google.com/store/apps/details?id=com.mztsenane.tsenane">TSENANE</a>
      </p>

      <b>Quem Somos?</b><br>
      Nós somos a <b>TSENANE, LDA</b>, membro do Grupo <b>TSENANE</b>
      <br>
      Nesta Política de Privacidade:
      <ul>
          <li>"Nós" significa TSENANE, LDA;</li>
          <li>"Terceiro", significa alguém que não seja você (cliente) ou nós.</li>
      </ul>

      <p>A nossa sede está localizada na
           Avenida Ahmed Sekou Touré nº 1919,
            1º andar esquerdo, cidade de 
            Maputo - Moçambique</p>
            
            <p>
                <b>Como contactar-nos?</b><br>
                A sua opinião para nós - se tiver alguma dúvida sobre nossa política de privacidade, a nossa 
                Central de atendimento é +258 86 313 2800, +258  84 244 4443 ou pode nos enviar um e-mail em info@tsenane.co.mz.
            </p>

            <p>
                <b>Nossos princípios</b><br>
                A TSENANE está comprometida a respeitar a sua privacidade.
                 Levamos a sério a privacidade, a segurança e o cumprimento das leis de 
                 proteção de dados e Privacidade. <br>
                 Estabelecemos os nossos princípios fundamentais de Privacidade no nosso Portal de Privacidade. 
                 O nosso objectivo é colocar estes compromissos no centro de tudo o que fazemos.
            </p>

            <p>
                <b>Informações pessoais que recolhemos sobre você</b> <br>
                A informação que recolhemos sobre si e como a recolhemos pode variar consoante os produtos e serviços que usa e subscreve,
                 como tem usado tais produtos e serviços, e a forma como interagiu com a Vodacom, mesmo não sendo um cliente, 
                 ou o que obtivemos de um terceiro que tenha permissão para o partilhar connosco.
            </p>

            <p>
                <b>Os tipos de informações que recolhemos quando interage connosco:</b>
                
            </p>
    </div>
    <div class="col">
      
    </div>
  </div>
</div>