<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Factura</title>
</head>

<style>
    body {
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        padding: 15px;
    }

    table {
        width: 100%;
    }

    table tr th {
        border: 1px solid grey;
        text-align: left;
    }
</style>

<body>

    <div class="row mb-0 mt-0">
        <div class="col-12 text-left">
            <img src="http://localhost:8080/img/logo.ff6fa381.jpeg" width="100px" height="100px" alt="TSENANE,LDA">
        </div>
    </div>

    <div class="row" style="font-size: 8pt;">
        <div class="col-12 text-center">
            <b>LISTA DE CLIENTES EM SITUAÇÃO IRREGULAR</b>
        </div>
    </div>

    <div class="row" style="font-size: 8pt;">
        <table class="table table-sm table-stripped">
            <thead>
                <tr>
                    <td>Ord</td>
                    <td>Nome do cliente</td>
                    <td>Facturas Pendentes</td>
                    <td>Dívida</td>
                </tr>
            </thead>
        </table>
    </div>

</body>

</html>