<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Reports</title>
</head>

<style>
    body {
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        padding: 20px;
        color: #000000;
    }

    table {
        width: 95%;
    }

    table tr th {
        border: 1px solid #000000;
        text-align: left;
    }
</style>

<body>

    <div class="row mb-0 mt-0">
        <div class="col text-left">
            <img src="http://localhost:5000/img/logo_12.2b7a27d2.jpeg" width="25%" height="25%" alt="TSENANE,LDA">
        </div>
    </div>

    <h1>Hello from reports.</h1>

</body>

</html>